@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;700&display=swap");

/*reset*/
* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

li {
    list-style: none;
}

img {
    vertical-align: middle;
}

/*layout*/
body {
    font-family: "Noto Sans KR", sans-serif;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/*전체레이아웃의 공통 넓이*/
.inner {
    width: 1100px;
    margin: 0 auto;
}

.visual {
    width: 100%;
    height: 950px;
    background: url(../img/news-p.v1.20220826.22ce566efd76412b9a6a203e691b7733.jpg)
        no-repeat center/cover;
    border-top: 1px solid #f3c565;
    color: #fff;
}

.visual .inner .mainTitle {
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 100px;
}

.visual .inner .mainTitle p.top {
    font-size: 43px;
    letter-spacing: 8px;
    margin-bottom: 50px;
}
.visual .inner .mainTitle p.top span {
    color: deepskyblue;
}

.visual .inner .mainTitle h1 {
    font-size: 100px;
    letter-spacing: 30px;
    margin-bottom: 50px;
}

.visual .inner .mainTitle p.bottom {
    font-size: 20px;
    color: crimson;
}

.visual .inner .textBox {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 40px 50px 50px;
    box-sizing: border-box;
    margin-top: 50px;
}
.visual .inner .textBox .subTitle {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 8px;
    position: relative;
    display: inline-block;
    padding-right: 60px;
}
.visual .inner .textBox .subTitle::after {
    content: "";
    width: 50px;
    height: 6px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 0;
}

/*공통 title_s*/
.textBox .title_s {
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 8px;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    padding-right: 60px;
}

.textBox .title_s::after {
    content: "";
    width: 50px;
    height: 6px;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -3px;
}

/*공통 title_num*/
.textBox .title_num {
    display: block;
    float: right;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: -2px;
    position: relative;
}
.textBox .title_num::after {
    content: "";
    width: 40px;
    height: 4px;
    background-color: #000;
    position: absolute;
    right: 0;
    bottom: 0;
}
/*r공통 버튼*/
.textBox .title_btn {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 40px;
}

/*section.living*/
section.living {
    padding: 100px 0;
}
section.living .textBox p {
    margin: 20px 0 30px;
}
section.living .list {
    overflow: hidden;
}
section.living .list li {
    float: left;
    margin-bottom: 20px;
    width: 33em;
}

section.living .list li:nth-child(2) {
    float: right;
    width: 35em;
}
section.living .list li:nth-child(3) {
    width: 100%;
}
section.living .list li a {
    display: block;
    overflow: hidden;
}

section.living .list li a img {
    width: 100%;
    transition: all 0.5s;
}
section.living .list li a img:nth-child(2) {
    height: 4000px;
}

section.living .list li a:hover img,
section.living .list li a:focus img {
    transform: scale(1.2);
    transition: all 1s;
}
